<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/style_show.css"/>
    
</head>
<body>
    <nav>
        <a href="/movies" >All Movie Reviews</a>
    </nav>
    <h1><%= movie.title%></h1>
    <h4>Review by: <%= movie.review_author%></h3>
    <section id="banner">
        <img src="<%= movie.img%>" alt="<%= movie.title%>">
    </section>
    
<div class="container">
    <section id="left-side">
        <p><strong>Ratings by Category:</strong></p>
        <p>Writing: <%= movie.writing%>/10</p>
        <p>Direction: <%= movie.direction%>/10</p>
        <p>Cinematography: <%= movie.cinematography%>/10</p>
        <p>Acting: <%= movie.acting%>/10</p>
        <p>Editing: <%= movie.editing%>/10</p>
        <p>Sound: <%= movie.sound%>/10</p>
        <p>Soundtrack: <%= movie.soundtrack%>/10</p>
        <p>Production Design:<%= movie.production_design%>/10</p>
        <p>Casting: <%= movie.casting%>/10</p>
        <p>Effects: <%= movie.effects%>/10</p>
        
        <p>Overall Rating: <%= movie.overall%>/10</p>
    </section>

    <section id="right-side">
        <h3>Review</h3>
        <p><%= movie.review%></p>
    </section>
</div>

    <section id="buttons">
        <form action="/movies/<%=movie._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete This Review">
        </form>
        <button><a id="edit" href="/movies/<%=movie._id%>/edit">Edit This Review</a></button>
    </section>
</body>
</html>