<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>
    <h1>Show Reviews</h1>
    <% for(let i = 0; i < shows.length; i++) {%>
        <div id="img-left">
            <a href="/shows/<%=shows[i]._id%>"><img src="<%= shows[i].img%>" alt="<%= shows[i].title%>"></a>
        </div>
        <div id="info-right">
            <h2><a href="/shows/<%=shows[i]._id%>"><%= shows[i].title%></a></h2>
            <h3><%= shows[i].overall%>/10</h3>
            <button><a href="/shows/<%=shows[i]._id%>">See Full Review</a></button>
            <hr>
        </div>
    <% } %>
</body>
</html>