<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/style_show.css"/>
    
</head>
<body>
    <%- include('../partials/nav.ejs')%>
    <h1><%= show.title%></h1>
    <h4>Review by: <%= show.review_author%></h4>
    <section id="banner">
        <img src="<%= show.img%>" alt="<%= show.title%>">
    </section>
    
<div class="container">
    <section id="left-side">
        <p><strong>Ratings by Category:</strong></p>
        <p>Writing: <%= show.writing%>/10</p>
        <p>Direction: <%= show.direction%>/10</p>
        <p>Cinematography: <%= show.cinematography%>/10</p>
        <p>Acting: <%= show.acting%>/10</p>
        <p>Editing: <%= show.editing%>/10</p>
        <p>Sound: <%= show.sound%>/10</p>
        <p>Soundtrack: <%= show.soundtrack%>/10</p>
        <p>Production Design:<%= show.production_design%>/10</p>
        <p>Casting: <%= show.casting%>/10</p>
        <p>Effects: <%= show.effects%>/10</p>
        
        <p>Overall Rating: <%= show.overall%>/10</p>
    </section>

    <section id="right-side">
        <h3>Review</h3>
        <p><%= show.review%></p>
    </section>
</div>

    <section id="buttons">
        <form action="/shows/<%=show._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete This Review">
        </form>
        <button><a id="edit" href="/shows/<%=show._id%>/edit">Edit This Review</a></button>
    </section>
</body>
</html>